<div class="row">
  @for (skeleton of skeletonItems; track $index) {
    <div class="col-lg-3 col-md-3 col-12 mb-4">
      <div class="card" aria-hidden="true">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="320" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-8"></span>
          </p>
          <a href="#" tabindex="-1" class="btn red-button disabled placeholder round-button col-3 me-2"></a>
          <a href="#" tabindex="-1" class="btn red-button disabled placeholder round-button col-3"></a>
        </div>
      </div>
    </div>
  }
</div>
