<footer class="footer">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="./assets/shopcart.svg" width="200" class="mb-3">
                <p>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                </p>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4">
                        <h3>About us</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">About Shopcart</li>
                            <li class="list-group-item">News & Blog</li>
                            <li class="list-group-item">Help</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Services</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Gift Card</li>
                            <li class="list-group-item">Mobile App</li>
                            <li class="list-group-item">Shipping & Delivery</li>
                            <li class="list-group-item">Order Pickup</li>
                            <li class="list-group-item">Account Signup</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Help</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Contact Us</li>
                            <li class="list-group-item">Shopcart Help</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>