<div class="container mt-5">
    <h1>Categories</h1>
    <div class="row categories">
      @defer {
        @for(category of categoriesList; track category){
            <a class="card col-lg-3 col-md-3 col-sm-6 my-5 mx-3 text-center d-flex align-center justify-content-center p-3" style="width: 18rem;" routerLink="/categories/{{category}}">
                <h2 class="card-title">{{category | titlecase}}</h2>
            </a>
        } @empty{
          <div class="col-12 d-flex justify-content-center">
            <div class="spinner-grow" style="width: 5rem; height: 5rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        }
      } @placeholder (minimum 300ms) {
        <div class="row">
          <app-skeleton
            class="col-12"
            [count]="20"
            [theme]="[
              { width: '20px' },
              { width: '60%' },
              { width: '70%' }
            ]"/>
        </div>
      }
    </div>
</div>
