<div class="container mt-5">
    <h1>{{title | titlecase}}</h1>
    <div class="row">
        <div class="d-flex justify-content-end align-center">
            <div class="dropdown ml-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               Sort
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Asc</a></li>
                <li><a class="dropdown-item" href="#">Desc</a></li>
                </ul>
            </div>
        </div>
        @for(product of productsList; track product.id){
            <app-product-card [product]="product" class="col-4 col-md-3 col-sm-6 my-3"/>
        }@empty{
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading products...</span>
            </div>
        }
    </div>
</div>