<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Login</h1>
            <form [formGroup]="loginForm" (submit)="login($event)">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" [ngClass]="{'is-invalid': hasErrors('username', 'required')}" required formControlName="username">
                    @if(hasErrors('username', 'required')){
                        <span class="text-danger">Username is required</span>
                    }
                    @if(hasErrors('username', 'minlength')){
                        <span class="text-danger">Username must be at least 3 characters long</span>
                    }
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required [ngClass]="{'is-invalid': hasErrors('username', 'required')}" formControlName="password">
                    @if(hasErrors('password','required')){
                        <span class="text-danger">Password is required</span>
                    }
                    @if(hasErrors('password','minlength')){
                        <span class="text-danger">Password must be at least 6 characters long</span>
                    }
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>