<div class="container">
    <h1>Products</h1>
    <div class="row text-center">
        @for (product of productsList; track product.id) {
            <div class="card col-3 col-md-3 col-sm-6 mx-3 my-3" style="width:18rem;">
              <img src="{{product.image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <h6 class="card-subtitle mt-3 mb-2 text-muted ">{{ product.price | currency }}</h6>
                <button class="btn btn-primary" (click)="detailsProduct(product.id)">
                    Details
                </button>
              </div>
            </div>
        } @empty {
            <h2>Cargando productos...</h2>
        }
    </div>
</div>